/* css */

head{
    color: rgba(201, 9, 9, 0.925);
    
}

body{
    background-image: url(fundo5.jpeg);
}

header{
    color: rgba(3, 0, 0, 0.925);
    text-align: center;
    justify-content: center;  
}

img{
    width: 800px;
    height: 420px;
}

h1{
    border-radius: 30px;
    padding: 10px;
    font: normal 60px monospace;
    color: rgba(201, 9, 9, 0.925);
    text-align: center;

}

p{
    color: rgb(7, 6, 7);
    text-align: center;
    font: normal 15pt monospace;
    font-style:oblique;
    margin: 50px;
}

a{
    color:rgb(223, 12, 12);
    font: normal 8pt monospace;
    height: 161px;
    width: 498px;
   

}

h2{
    text-align: center;
    font: normal 15px monospace;
    font-style:italic;
    color: rgba(3, 0, 0, 0.925); 
    
}
div{
        border-radius: 200px;
        margin: 10px;
        text-align: center;
        height: 155px;
        width: 498px;
        margin-left: 450px;
        
}

    textarea{
        height: 100px;
        width: 600px;
        border-radius: 100px;
        border: black;
        padding: 0.2rem;  
        margin: 50px 400px;
        text-align: center;
    }

    button {
        cursor: pointer;
        height: 30px;
        width: 100px;
        margin: 5px 300px;
        margin-left: 650px;
        font: normal 9pt monospace;
        
    }
    
    button:hover {
        background-color: grey;
        color: lightgrey;

    }
    footer {
        text-align: center;
        padding-top: 80px;
        color: rgb(7, 6, 7);
        font: normal 12pt monospace;
        margin: 50px;
    }